/*–––––––––––––––––––––––––––––––
    IMAGE SIZE
–––––––––––––––––––––––––––––––*/

  .s8 {
    width: 8%; }
  .s10 {
    width: 10%; }
  .s12 {
    width: 12%; }
  .s14 {
    width: 14%; }
  .s16 {
    width: 16%; }
  .s18 {
    width: 18%; }
  .s20 {
    width: 20%; }
  .s22 {
    width: 22%; }
  .s24 {
    width: 24%; }
  .s26 {
    width: 26%; }
  .s28 {
    width: 28%; }
  .s30 {
    width: 30%; }
  .s32 {
    width: 32%; }
  .s34 {
    width: 34%; }
  .s36 {
    width: 36%; } 
  .s38 {
    width: 38%; }
  .s40 {
    width: 40%; } 
  .s42 {
    width: 42%; }    
  .s44 {
    width: 44%; } 
  .s46 {
    width: 46%; }     
  .s48 {
    width: 48%; } 
  .s50 {
    width: 50%; } 
  .s60 {
    width: 60%; } 
  .s70 {
    width: 70%; }   
  .s80 {
    width: 80%; } 
  .s90 {
    width: 90%; } 
  .s100 {
    width: 100%; } 

  .h40 {
    height: 40%; }
  .h50 {
    height: 50%; }
  .h60 {
    height: 60%; }
  .h70 {
    height: 70%;}
  .h80 {
    height: 80%; }
  .h90 {
    height: 90%; }    
  .h100 {
    height: 100%; }


/*–––––––––––––––––––––––––––––––
    IMAGE POSITION
–––––––––––––––––––––––––––––––*/

/*–––––––––––––––––––––––––––––––
    top 0
–––––––––––––––––––––––––––––––*/

.p-o0v0 {
display: block;
position: absolute;
top: 0%;
left: 0%;
transform: translate(-50%, -50%);
}

.p-o1v0 {
display: block;
position: absolute;
top: 0% ;
left: 10%;
transform: translate(-50%, -50%);
}

.p-o2v0 {
display: block;
position: absolute;
top: 0% ;
left: 20%;
transform: translate(-50%, -50%);
}

.p-o3v0 {
display: block;
position: absolute;
top: 0% ;
left: 30%;
transform: translate(-50%, -50%);
}

.p-o4v0 {
display: block;
position: absolute;
top: 0% ;
left: 40%;
transform: translate(-50%, -50%);
}

.p-o5v0 {
display: block;
position: absolute;
top: 0% ;
left: 50%;
transform: translate(-50%, 0%);
}

.p-o6v0 {
display: block;
position: absolute;
top: 0% ;
left: 60%;
transform: translate(-50%, -50%);
}

.p-o7v0 {
display: block;
position: absolute;
top: 0% ;
left: 70%;
transform: translate(-50%, -50%);
}

.p-o8v0 {
display: block;
position: absolute;
top: 0% ;
left: 80%;
transform: translate(-50%, -50%);
}

.p-o9v0 {
display: block;
position: absolute;
top: 0% ;
left: 90%;
transform: translate(-50%, -50%);
}

.p-o10v0 {
display: block;
position: absolute;
top: 0% ;
left: 100%;
transform: translate(-100%, 0%);
}

/*–––––––––––––––––––––––––––––––
    top 10
–––––––––––––––––––––––––––––––*/


.p-o0v1 {
display: block;
position: absolute;
top: 10% ;
left: 0%;
transform: translate(-50%, -50%); 
}

.p-o1v1 {
display: block;
position: absolute;
top: 10% ;
left: 10%;
transform: translate(-50%, -50%); 
}

.p-o2v1 {
display: block;
position: absolute;
top: 10% ;
left: 20%;
transform: translate(-50%, -50%); 
}

.p-o3v1 {
display: block;
position: absolute;
top: 10% ;
left: 3
0%;
transform: translate(-50%, -50%); 
}

.p-o4v1 {
display: block;
position: absolute;
top: 10% ;
left: 40%;
transform: translate(-50%, -50%); 
}

.p-o5v1 {
display: block;
position: absolute;
top: 10% ;
left: 50%;
transform: translate(-50%, -50%); 
}

.p-o6v1 {
display: block;
position: absolute;
top: 10% ;
left: 60%;
transform: translate(-50%, -50%);  
}

.p-o7v1 {
display: block;
position: absolute;
top: 10% ;
left: 70%;
transform: translate(-50%, -50%);  
}

.p-o8v1 {
display: block;
position: absolute;
top: 10% ;
left: 80%;
transform: translate(-50%, -50%);  
}

.p-o9v1 {
display: block;
position: absolute;
top: 10% ;
left: 90%;
transform: translate(-50%, -50%);  
}

.p-o10v1 {
display: block;
position: absolute;
top: 10% ;
left: 100%;
transform: translate(-50%, -50%); 
}

/*–––––––––––––––––––––––––––––––
    top 20
–––––––––––––––––––––––––––––––*/

.p-o0v2 {
display: block;
position: absolute;
top: 20% ;
left: 0%;
transform: translate(-50%, -50%);  
}

.p-o1v2 {
display: block;
position: absolute;
top: 20% ;
left: 10%;
transform: translate(-50%, -50%);  
}

.p-o2v2 {
display: block;
position: absolute;
top: 20% ;
left: 20%;
transform: translate(-50%, -50%);  
}

.p-o3v2 {
display: block;
position: absolute;
top: 20% ;
left: 30%;
transform: translate(-50%, -50%);  
}

.p-o4v2 {
display: block;
position: absolute;
top: 20% ;
left: 40%;
transform: translate(-50%, -50%);  
}

.p-o5v2 {
display: block;
position: absolute;
top: 20% ;
left: 50%;
transform: translate(-50%, -50%);  
}

.p-o6v2 {
display: block;
position: absolute;
top: 20% ;
left: 60%;
transform: translate(-50%, -50%); 
}

.p-o7v2 {
display: block;
position: absolute;
top: 20% ;
left: 70%;
transform: translate(-50%, -50%); 
}

.p-o8v2 {
display: block;
position: absolute;
top: 20% ;
left: 80%;
transform: translate(-50%, -50%); 
}

.p-o9v2 {
display: block;
position: absolute;
top: 20% ;
left: 90%;
transform: translate(-50%, -50%); 
}

.p-o10v2 {
display: block;
position: absolute;
top: 20% ;
left: 100%;
transform: translate(-50%, -50%); 
}

/*–––––––––––––––––––––––––––––––
    top 30
–––––––––––––––––––––––––––––––*/

.p-o0v3 {
display: block;
position: absolute;
top: 30% ;
left: 0%;
transform: translate(-50%, -50%); 
}

.p-o1v3 {
display: block;
position: absolute;
top: 30% ;
left: 10%;
transform: translate(-50%, -50%); 
}

.p-o2v3 {
display: block;
position: absolute;
top: 30% ;
left: 20%;
transform: translate(-50%, -50%); 
}

.p-o3v3 {
display: block;
position: absolute;
top: 30% ;
left: 30%;
transform: translate(-50%, -50%); 
}

.p-o4v3 {
display: block;
position: absolute;
top: 30% ;
left: 40%;
transform: translate(-50%, -50%); 
}

.p-o5v3 {
display: block;
position: absolute;
top: 30% ;
left: 50%;
transform: translate(-50%, -50%); 
}

.p-o6v3 {
display: block;
position: absolute;
top: 30% ;
left: 60%;
transform: translate(-50%, -50%); 
}

.p-o7v3 {
display: block;
position: absolute;
top: 30% ;
left: 70%;
transform: translate(-50%, -50%); 
}

.p-o8v3 {
display: block;
position: absolute;
top: 30% ;
left: 80%;
transform: translate(-50%, -50%); 
}

.p-o9v3 {
display: block;
position: absolute;
top: 30% ;
left: 90%;
transform: translate(-50%, -50%); 
}

.p-o10v3 {
display: block;
position: absolute;
top: 30% ;
left: 100%;
transform: translate(-50%, -50%); 
}

/*–––––––––––––––––––––––––––––––
    top 40
–––––––––––––––––––––––––––––––*/

.p-o0v4 {
display: block;
position: absolute;
top: 40% ;
left: 0%;
transform: translate(-50%, -50%); 
}

.p-o1v4 {
display: block;
position: absolute;
top: 40% ;
left: 10%;
transform: translate(-50%, -50%); 
}

.p-o2v4 {
display: block;
position: absolute;
top: 40% ;
left: 20%;
transform: translate(-50%, -50%); 
}

.p-o3v4 {
display: block;
position: absolute;
top: 40% ;
left: 30%;
transform: translate(-50%, -50%); 
}

.p-o35v4 {
display: block;
position: absolute;
top: 40%;
left: 33%;
transform: translate(-50%, -50%); 
}

.p-o4v4 {
display: block;
position: absolute;
top: 40% ;
left: 40%;
transform: translate(-50%, -50%); 
}


.p-o5v4 {
display: block;
position: absolute;
top: 40% ;
left: 50%;
transform: translate(-50%, -50%); 
}

.p-o6v4 {
display: block;
position: absolute;
top: 40% ;
left: 60%;
transform: translate(-50%, -50%); 
}

.p-o7v4 {
display: block;
position: absolute;
top: 40% ;
left: 70%;
transform: translate(-50%, -50%); 
}

.p-o8v4 {
display: block;
position: absolute;
top: 40% ;
left: 80%;
transform: translate(-50%, -50%); 
}

.p-o9v4 {
display: block;
position: absolute;
top: 40% ;
left: 90%;
transform: translate(-50%, -50%); 
}

.p-o10v4 {
display: block;
position: absolute;
top: 40% ;
left: 100%;
transform: translate(-50%, -50%); 
}

/*–––––––––––––––––––––––––––––––
    top 50
–––––––––––––––––––––––––––––––*/

.p-o0v5 {
display: block;
position: absolute;
top: 50% ;
left: 0%;
transform: translate(-50%, -50%); 
}

.p-o1v5 {
display: block;
position: absolute;
top: 50% ;
left: 10%;
transform: translate(-50%, -50%); 
}

.p-o18v5 {
display: block;
position: absolute;
top: 50% ;
left: 18%;
transform: translate(-50%, -50%); 
}

.p-o2v5 {
display: block;
position: absolute;
top: 50% ;
left: 20%;
transform: translate(-50%, -50%); 
}
.p-o25v4 {
display: block;
position: absolute;
top: 40% ;
left: 25%;
transform: translate(-50%, -50%); 
}

.p-o3v5 {
display: block;
position: absolute;
top: 50% ;
left: 30%;
transform: translate(-50%, -50%); 
}

.p-o4v5 {
display: block;
position: absolute;
top: 50% ;
left: 40%;
transform: translate(-50%, -50%); 
}

.p-o5v5 {
display: block;
position: absolute;
top: 50% ;
left: 50%;
transform: translate(-50%, -50%); 
}

.p-o6v5 {
display: block;
position: absolute;
top: 50% ;
left: 60%;
transform: translate(-50%, -50%); 
}

.p-o65v5 {
display: block;
position: absolute;
top: 50% ;
left: 65%;
transform: translate(-50%, -50%); 
}

.p-o7v5 {
display: block;
position: absolute;
top: 50% ;
left: 70%;
transform: translate(-50%, -50%); 
}

.p-o8v5 {
display: block;
position: absolute;
top: 50% ;
left: 80%;
transform: translate(-50%, -50%); 
}

.p-o9v5 {
display: block;
position: absolute;
top: 50% ;
left: 90%;
transform: translate(-50%, -50%); 
}

.p-o10v5 {
display: block;
position: absolute;
top: 50% ;
left: 100%;
transform: translate(-100%, -50%); 
}

.p-o10v1234 {
display: block;
position: absolute;
top: 50% ;
left: 106%;
transform: translate(-100%, -50%); 
}

/*–––––––––––––––––––––––––––––––
    top 60
–––––––––––––––––––––––––––––––*/

.p-o0v6 {
display: block;
position: absolute;
top: 60% ;
left: 0%;
transform: translate(-50%, -50%); 
}

.p-o1v6 {
display: block;
position: absolute;
top: 60% ;
left: 10%;
transform: translate(-50%, -50%); 
}

.p-o2v6 {
display: block;
position: absolute;
top: 60% ;
left: 20%;
transform: translate(-50%, -50%); 
}

.p-o3v6 {
display: block;
position: absolute;
top: 60% ;
left: 30%;
transform: translate(-50%, -50%); 
}

.p-o4v6 {
display: block;
position: absolute;
top: 60% ;
left: 40%;
transform: translate(-50%, -50%); 
}

.p-o5v6 {
display: block;
position: absolute;
top: 60% ;
left: 50%;
transform: translate(-50%, -50%); 
}

.p-o6v6 {
display: block;
position: absolute;
top: 60% ;
left: 60%;
transform: translate(-50%, -50%); 
}

.p-o7v6 {
display: block;
position: absolute;
top: 60% ;
left: 70%;
transform: translate(-50%, -50%); 
}

.p-o8v6 {
display: block;
position: absolute;
top: 60% ;
left: 80%;
transform: translate(-50%, -50%); 
}

.p-o9v6 {
display: block;
position: absolute;
top: 60% ;
left: 90%;
transform: translate(-50%, -50%); 
}

.p-o10v6 {
display: block;
position: absolute;
top: 60% ;
left: 100%;
transform: translate(-50%, -50%); 
}

/*–––––––––––––––––––––––––––––––
    top 70
–––––––––––––––––––––––––––––––*/

.p-o0v7 {
display: block;
position: absolute;
top: 70% ;
left: 0%;
transform: translate(-50%, -50%); 
}

.p-o1v7 {
display: block;
position: absolute;
top: 70% ;
left: 10%;
transform: translate(-50%, -50%); 
}

.p-o2v7 {
display: block;
position: absolute;
top: 70% ;
left: 20%;
transform: translate(-50%, -50%); 
}

.p-o3v7 {
display: block;
position: absolute;
top: 70% ;
left: 30%;
transform: translate(-50%, -50%); 
}

.p-o4v7 {
display: block;
position: absolute;
top: 70% ;
left: 40%;
transform: translate(-50%, -50%); 
}

.p-o5v7 {
display: block;
position: absolute;
top: 70% ;
left: 50%;
transform: translate(-50%, -50%); 
}

.p-o6v7 {
display: block;
position: absolute;
top: 70% ;
left: 60%;
transform: translate(-50%, -50%); 
}

.p-o7v7 {
display: block;
position: absolute;
top: 70% ;
left: 70%;
transform: translate(-50%, -50%); 
}

.p-o8v7 {
display: block;
position: absolute;
top: 70% ;
left: 80%;
transform: translate(-50%, -50%); 
}

.p-o9v7 {
display: block;
position: absolute;
top: 70% ;
left: 90%;
transform: translate(-50%, -50%); 
}

.p-o10v7 {
display: block;
position: absolute;
top: 70% ;
left: 100%;
transform: translate(-50%, -50%); 
}

/*–––––––––––––––––––––––––––––––
    top 80
–––––––––––––––––––––––––––––––*/

.p-o0v8 {
display: block;
position: absolute;
top: 80% ;
left: 0%;
transform: translate(-50%, -50%); 
}


.p-o1v8 {
display: block;
position: absolute;
top: 80% ;
left: 10%;
transform: translate(-50%, -50%); 
}

.p-o2v8 {
display: block;
position: absolute;
top: 80% ;
left: 20%;
transform: translate(-50%, -50%); 
}

.p-o3v8 {
display: block;
position: absolute;
top: 80% ;
left: 30%;
transform: translate(-50%, -50%); 
}

.p-o4v8 {
display: block;
position: absolute;
top: 80% ;
left: 40%;
transform: translate(-50%, -50%); }

.p-o5v8 {
display: block;
position: absolute;
top: 80% ;
left: 50%;
transform: translate(-50%, -50%); 
}

.p-o6v8 {
display: block;
position: absolute;
top: 80% ;
left: 60%;
transform: translate(-50%, -50%); 
}

.p-o7v8 {
display: block;
position: absolute;
top: 80% ;
left: 70%;
transform: translate(-50%, -50%); 
}

.p-o8v8 {
display: block;
position: absolute;
top: 80% ;
left: 80%;
transform: translate(-50%, -50%); 
}

.p-o9v8 {
display: block;
position: absolute;
top: 80% ;
left: 90%;
transform: translate(-50%, -50%); 
}

.p-o10v8 {
display: block;
position: absolute;
top: 80% ;
left: 100%;
transform: translate(-50%, -50%); 
}

/*–––––––––––––––––––––––––––––––
    top 90
–––––––––––––––––––––––––––––––*/

.p-o0v9 {
display: block;
position: absolute;
top: 90% ;
left: 0%;
transform: translate(-50%, -50%); 
}

.p-o1v9 {
display: block;
position: absolute;
top: 90% ;
left: 10%;
transform: translate(-50%, -50%); 
}

.p-o2v9 {
display: block;
position: absolute;
top: 90% ;
left: 20%;
transform: translate(-50%, -50%); 
}

.p-o3v9 {
display: block;
position: absolute;
top: 90% ;
left: 30%;
transform: translate(-50%, -50%); 
}

.p-o4v9 {
display: block;
position: absolute;
top: 90% ;
left: 40%;
transform: translate(-50%, -50%); 
}

.p-o5v9 {
display: block;
position: absolute;
top: 90% ;
left: 50%;
transform: translate(-50%, -50%); 
}

.p-o6v9 {
display: block;
position: absolute;
top: 90% ;
left: 60%;
transform: translate(-50%, -50%); 
}

.p-o7v9 {
display: block;
position: absolute;
top: 90% ;
left: 70%;
transform: translate(-50%, -50%); 
}

.p-o8v9 {
display: block;
position: absolute;
top: 90% ;
left: 80%;
transform: translate(-50%, -50%); 
}

.p-o9v9 {
display: block;
position: absolute;
top: 90% ;
left: 90%;
transform: translate(-50%, -50%); 
}

.p-o10v9 {
display: block;
position: absolute;
top: 90% ;
left: 100%;
transform: translate(-50%, -50%); 
}

/*–––––––––––––––––––––––––––––––
    top 100
–––––––––––––––––––––––––––––––*/

.p-o0v10 {
display: block;
position: absolute;
top: 100% ;
left: 0%;
transform: translate(0%, -100%);
}

.p-o1v10 {
display: block;
position: absolute;
top: 100% ;
left: 10%;
transform: translate(-50%, -50%); 
}

.p-o2v10 {
display: block;
position: absolute;
top: 100% ;
left: 20%;
transform: translate(-50%, -50%); 
}

.p-o3v10 {
display: block;
position: absolute;
top: 100% ;
left: 30%;
transform: translate(-50%, -50%); }

.p-o4v10 {
display: block;
position: absolute;
top: 100% ;
left: 40%;
transform: translate(-50%, -50%); 
}

.p-o5v10 {
display: block;
position: absolute;
top: 100% ;
left: 50%;
transform: translate(-50%, -50%); 
}

.p-o6v10 {
display: block;
position: absolute;
top: 100% ;
left: 60%;
transform: translate(-50%, -50%); 
}

.p-o7v10 {
display: block;
position: absolute;
top: 100% ;
left: 70%;
transform: translate(-50%, -50%); 
}

.p-o8v10 {
display: block;
position: absolute;
top: 100% ;
left: 80%;
transform: translate(-50%, -50%); 
}

.p-o9v10 {
display: block;
position: absolute;
top: 100% ;
left: 90%;
transform: translate(-50%, -50%); 
}

.p-o10v10 {
display: inline-block;
position: relative;
top: 100% ;
left: 100%;
transform: translate(-100%, -100%); 
}